<!-- tampilan yang akan muncul bila terjadi error -->
<div class="container-fluid container-fluid-custom py-md-5 mb-5">
	<main>
		<div class="row py-md-5 text-center justify-content-center">
			<div class="col-md-12 col-lg-6 mb-6 mb-md-0">
				<h1 class="display-2 fw-bold mb-4 position-relative heading">Server Error 500.</h1>
				<p class="mb-4 text-muted">
					The server encountered an internal error and was unable to complete your request.
				</p>
				<a href="/notes" class="btn btn-primary">Explore Notes.</a>
			</div>
		</div>
	</main>
</div>
