<!-- tampilan about page, menjelaskan mengenai Brain Canvas -->
<div class="row py-md-5 text-center justify-content-center">
	<div class="col-md-12 col-lg-6 mb-6">
		<h1 class="display-2 fw-bold mb-4 position-relative heading">Brain Canvas.</h1>
		<p class="mb-4 text-dark">
			A sleek and intuitive note-taking web app designed to ignite creativity and enhance productivity. With its user-friendly interface and powerful features, Brain Canvas allows you to capture ideas, organize thoughts, and collaborate effortlessly, turning your canvas into a masterpiece of innovation.
		</p>

		<a href="/notes" class="btn btn-primary">Try Notes, it's FREE!</a>
	</div>
</div>
