<!-- tampilan pertama/landing page -->
<div class="row py-md-5 text-center justify-content-center">
	<!-- vector orang di bagian kiri dan kanan -->
	<img
		src="/img/human-1.svg"
		alt="Notes"
		class="position-fixed d-none d-xl-block ornament"
		style="width: 400px; height: 500px; bottom: 0; left: 0" />

	<img
		src="/img/human-2.svg"
		alt="Notes"
		class="position-fixed d-none d-xl-block ornament"
		style="width: 400px; height: 500px; bottom: 0; right: 0" />

	<div class="col-md-12 col-lg-6 mb-6">
		<h1 class="display-4 fw-bold mb-4 heading">Dive into a world of effortless note-taking</h1>
		<p class="mb-4 text-dark">Where your thoughts find a home.<br>
			Unleash your productivity potential!</p>
		<a href="/notes" class="btn btn-primary">Let's try, it's FREE!</a>
	</div>
</div>
