<nav class="d-flex align-items-center justify-content-between container py-3">
	<a href="/notes" class="text-primary text-decoration-none fw-bold fs-4"> Brain Canvas. </a>
	<a href="/logout" type="button" class="btn btn-outline-primary">Logout</a>
</nav>
